.links {
  width: 50%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  .link {
    font-size: 2rem;
    height: 50px;
    width: 50px;
    padding: 16px;
    border-radius: 50%;
    border: 2px solid $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
}

@media only screen and (max-width: 1024px) {
  .links {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .links {
    width: 100%;
    .link {
      height: 30px;
      width: 30px;
    }
  }
}

