.circle-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  z-index: 10000;
  &--outer {
    width: 60px;
    height: 60px;
    border: 1px solid $color-text;
    opacity: 0.8;
  }
  &--inner {
    width: 10px;
    height: 10px;
    left: -5px;
    top: -5px;
    background: $color-link;
    display: flex;
    justify-content: center;
    align-items: center;
    .arrow {
      transform: scale(0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: $color-link;
      }
    }
    span {
      color: $color-text;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .circle-cursor {
    display: none;
  }
}
