.description {
  .line {
    background-color: transparent;
    margin: 16px 0;
    overflow: hidden;
    span {
      display: inline-block;
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .description .line span {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .description .line span {
    font-size: 1rem;
  }
}
