@import './colors';
@import './fonts';
canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
main {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 1.5rem;
  color: $color-text;
  font-family: Callygraphy;
}

.wrapper {
  font-family: 'Callygraphy';
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
}
.school-list {
  margin: 40px 0;
  opacity: 0;
}
.school {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1;
  position: relative;
  z-index: 2;
  color: $color-text;
  mix-blend-mode: normal;
  transition: mix-blend-mode 3s ease-in-out;
  .school-title h1 {
    opacity: 0;
  }
  .school-title span {
    font-weight: lighter;
    opacity: 0;
  }
  .school-date {
    font-size: 1.2rem;
  }
  .school-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

}
