/* container and cards */

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
  opacity: 0;
  transform: scale(0.98);
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $color-bg;
    z-index: 1;
  }
  .project-description {
    display: grid;
    grid-gap: 16px;
    width: 55%;
    h2 {
      font-family: 'Callygraphy';
      font-size: 1.8rem;
    }
    a {
      width: fit-content;
    }
  }

  .cards-container {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    .cards {
      position: absolute;
      height: 100%;
      min-width: 100%;
      display: flex;
      justify-content: center;
      pointer-events: none;
      .card {
        overflow: hidden;
        margin-left: 32px;
        img {
          min-width: 400px;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .project {
    flex-direction: column;
    .project-description {
      width: 100%;
      grid-gap: 4px;
      h2 {
        font-size: 1.3rem;
      }
    }

    .cards-container .cards {
      margin-top: 16px;
      .card:first-child {
        margin-left: 0;
      }
    }
  }
}
