@import './fonts';
@import './colors';
@import './cursor';
@import './navbar';
@import './hover-menu';
@import './projects';

* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  background: $color-bg;
  padding: 0 10%;
}



.big-text {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-text > h1 {
  font-family: 'Callygraphy';
  color: $color-text;
  position: relative;
  overflow: hidden;
  font-size: 200px;
  height: 250px;
  margin: 0;
  text-transform: capitalize;
  .hidetext {
    position: absolute;
    z-index: 200;
  }
}

.hover-reveal {
    position: absolute;
    z-index: -1;
    width: 220px;
    height: 320px;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    .hover-reveal__inner {
      overflow: hidden;
      &, .hover-reveal__img {
        width: 100%;
        height: 100%;
        position: relative;
      }
      .hover-reveal__img {
        background-size: cover;
        background-position: 50% 50%;
      }
    }
  }

// Hover Menu
.cursor {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  background: no-repeat 50% 50%;
  background-size: cover;
  z-index: 2;
}
.wrapper {
  font-family: 'Callygraphy';
  text-transform: uppercase;
  font-weight: bold;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.project-list {
  margin: 40px 0;
  opacity: 0;
  // transform: translateY(30px);
}
.project {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1;
  position: relative;
  z-index: 2;
  color: $color-text;
  mix-blend-mode: normal;
  transition: mix-blend-mode 3s ease-in-out;
  .project-title h1 {
    opacity: 0;
    // transform: translateY(30px);
  }
  .project-title span {
    font-weight: lighter;
    opacity: 0;
    // transform: translateY(30px);
  }
  .project-categ {
    font-size: 1.2rem;
  }
  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

}
