@import './fonts';
@import './colors';
@import './cursor';
@import './navbar';
@import './description';
@import './hover-menu';
@import './projects';
@import './contact';

* {
  padding: 0;
  margin: 0;
  cursor: none;
  text-decoration: none;
  color: $color-text;
}

html { scroll-behavior: smooth;}
body {
  margin: 0;
  background: $color-bg;
  padding: 0 10%;
  font-family: 'Avenir';
}

a {
  color: $color-link;
}

section {
  margin: 64px 0;
}

.banner-text {
  width: 100%;
  height: calc(80vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-text > h1 {
  font-family: 'Callygraphy';
  color: $color-text;
  position: relative;
  overflow: hidden;
  height: 30vh;
  display: flex;
  align-items: center;
  margin: 0;
  text-transform: capitalize;
  .hidetext {
    position: absolute;
    z-index: 200;
    white-space: nowrap;
    font-size: 14vw;
  }
}

.hover-reveal {
    position: absolute;
    z-index: -1;
    width: 220px;
    height: 320px;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    .hover-reveal__inner {
      overflow: hidden;
      &, .hover-reveal__img {
        width: 100%;
        height: 100%;
        position: relative;
      }
      .hover-reveal__img {
        background-size: cover;
        background-position: 50% 50%;
      }
    }
  }

// Hover Menu
.cursor {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  background: no-repeat 50% 50%;
  background-size: cover;
  z-index: 2;
}

// Section title animation

.section-title {
  position: relative;
  font-family: 'Callygraphy';
  text-transform: uppercase;
  span {
    font-size: 3rem;
  }
  .section-title-text {
    pointer-events: none;
    display: block;
    line-height: 1;
    position: relative;
  }
  & > div:nth-child(1) span {
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--index));
    transform-origin: bottom;
    display: inline-block;
  }
  & > div:nth-child(2) span {
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--index));
    transform-origin: top;
    display: inline-block;
    transform: translate3d(0,100%, 0) rotateX(-90deg);
  }
  &:hover > div:nth-child(1) span {
    transform: translate3d(0, -100%, 0) rotateX(-90deg);
  }
  &:hover > div:nth-child(2) span {
    transform: translate3d(0, 0, 0) rotateX(0deg);
  }
}


@media only screen and (max-width: 600px) {
  .section-title span {
    font-size: 2rem;
  }
  .banner-text > h1 {
    height: 10vh;
  }
}

@media only screen and (max-width: 900px) {
  body {
    padding: 0 5%;
  }
}
